:root{
    --mainColor:#fd7e14;
}
/* arabic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format('ttf');
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('ttf');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1150px;    
    margin: auto;
}

.landing-page{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/home-1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
   
}
.landing-page .container{
    height: 100vh;
    position: relative;
    z-index: 1000;
}
.landing-page .overly{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: white;
    position: absolute;
    padding: 30px 30px;
    top:0;
    left:0;
    width: 95%;
    z-index: 1001;
}
.header-area .logo{
    font-weight: bolder;
    text-transform: uppercase;
}
.header-area .logo span{
    color: var(--mainColor);
}
.header-area .links-containers{
    text-align: right;
    
}
.header-area .toggle-menu{
    width: 40px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active::after{
    content: "";
    width: 0;
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    bottom: -55%;
    left: 40%;
}
.header-area .toggle-menu span{
    width: 40px;
    height: 3px;
    display: block;
    background-color: white;
    margin: 5px;
}
@media (max-width:991px){
    .header-area .toggle-menu {
        display: inline-block;
    }
    .header-area .links{
        display: none;
    }
    .header-area .links.open{
        background-color: white;
        padding: 4px;
        position: absolute;
        left: 0;
        width: 100%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        top: 74px;
        font-size: 14px;
        display: block;
        
    }
    .header-area .links.open li {
        display: block;
        text-align: left;
        padding: 5px;
        border-bottom: 1px solid var(--mainColor) ;
    
    }
    
    .header-area .links.open li a{
        color: var(--mainColor);
    }
}

.header-area ul{
    list-style: none;

}
.header-area ul li{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.header-area ul li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    pointer-events: none;
}
.header-area ul li a:hover,
.header-area ul li a.active{
    color: var(--mainColor);
}
.introduction-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    color: white;
    text-align: center;
    width: 95%;
}
@media (max-width:575){
    .introduction-text h1{
        font-size: 26px;
    }
}
.introduction-text h1{
    position: relative;
    line-height: 1.6;
}
.introduction-text h1 span{
    color: var(--mainColor);
}


.introduction-text p{
    
}
/* setting box */
.settings-box {
    position: fixed;
    top: 0;
    left: -200px;
    min-height: 100vh;
    width: 200px;
    z-index: 1002;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border:3px solid #dadada;
}
.settings-box.open{
    left: 0;
}
.settings-box > span {
    position: absolute;
    top: 100px;
    right: -30px;
    background-color: white;
    width: 30px;
    padding: 10px 0;
    cursor: pointer;
    color: var(--mainColor);
    text-align: center;
}
.settings-box .setting-container .option-box{
    background-color: #f3f3f3;
    background-color: #f3f3f3;
    margin: 20px 5px;
    padding: 20px 5px;
    text-align: center;
}
.settings-box h3{
    font-size: 16px;
    color: #666 ;
    padding-bottom: 10px;
}
.settings-box .setting-container .color-list ul{
    list-style: none;
}
.settings-box .setting-container .color-list ul li{
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.5;
    width: 30px;
    height: 30px;
    padding-left:2px ;
    cursor: pointer;
}
.settings-box .setting-container .color-list ul li.active{
    opacity: 1;
    border: 2px solid black;
}
.settings-box .setting-container .color-list ul li:first-child{
    background-color: #fd7e14;
}
.settings-box .setting-container .color-list ul li:nth-child(2){
    background-color: #E91E63;
}
.settings-box .setting-container .color-list ul li:nth-child(3){
    background-color: #009688;
}
.settings-box .setting-container .color-list ul li:nth-child(4){
    background-color: #03A9F4;
}
.settings-box .setting-container .color-list ul li:nth-child(5){
    background-color: #4CAF50;
}
.settings-box .random-background{
    text-align: center;
    
}

.settings-box .option-box div span{
    display: inline-block;
    color: white;
    background-color:var(--mainColor);
    opacity: 0.5;
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.settings-box .option-box div span.active{
    opacity: 1;
}
.settings-box .reset-button
{
    border: none;
    background-color: rgb(254, 138, 138);
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    width: 184px;
    cursor: pointer;
}
/* setting box */
/* nav bullets */
.nav-bullets{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0;
    z-index: 1000;
    width: 50px;
}
.nav-bullets .bullet{
    border: 3px solid var(--mainColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    position: relative;
}
.nav-bullets .bullet.active,.nav-bullets .bullet:hover
{
    background-color: var(--mainColor);
    
}
.nav-bullets .bullet.active .tooltip,.nav-bullets .bullet:hover .tooltip{
        display: block;
    }
    .nav-bullets .bullet .tooltip{
        font-size: 13px;
        width: 93px;
        background-color: var(--mainColor);
        color: white;
    position: absolute;
    right: 30px;
    padding: 5px;
    text-align: center;
    top: -6px;
    display: none;
}

.nav-bullets .bullet .tooltip::before{
    content: "";
    border-color: transparent transparent transparent var(--mainColor);
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width:567px){
    .nav-bullets{
       display: none;
        }
}
/* nav bullets */
/* about us style */
.about-us {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
.about-us .about-info{
    flex: 1;
}
.about-us .about-info h1{
    color: var(--mainColor);
    padding-top: 20px;
}
.about-us .about-info p{
    color: #676767;
    padding: 10px 10px 10 0px;
    line-height: 1.6;
}
.about-us .about-img{
    flex: 1;
    /* max-width: 300px; */
    padding-top: 10px;
    text-align: center;
}
.about-us .about-img img{
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0 0 4px 5px #ccc;
}
@media (max-width:575px){
    .about-us{
        display: block;
        text-align: center;
    }
}
/* about us style */

/* skills style */
.skills{
    background-color: #ddd;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.skills h1{
    color: var(--mainColor);
    text-align: center;
}
.skills .skill-box{
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}
.skills .skill-box .skill-name{
    font-weight: bold;
    text-align: center;
    width: 100px;
}
.skills .skill-box .skill-progress{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 30px;
    width: calc(100% - 130px);
    overflow: hidden;
}

.skills .skill-box .skill-progress span{
    background-color: var(--mainColor);
    width: 0;
    height: 30px;
    display: inline-block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
@media (max-width:767px){
    .skills .skill-box{
        display: block;
    }
    .skills .skill-box .skill-name{
        padding-bottom: 20px;
        text-align: center;
        display: block;
        width: 100%;
    }
}
/* skills style */

/* Gallery style */
.gallery{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    

}
.gallery .image-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding:0 50px;
    text-align: center;
}
.gallery h1{
    color: var(--mainColor);
    text-align: center;
}
.gallery .image-box img{
    margin: 5px;
    padding: 5px;
    border: 2px solid #ddd;
    width: calc((100% / 3) - 10px);
    cursor: pointer;
    min-height: 250px;
}
@media (max-width:567px){
    .gallery .image-box img{
        width: 100%;
        
    }
}
.popup-overlay {
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background-color:rgba(0, 0, 0, 0.7);
        z-index:1000;
}
.popup-overlay .popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    margin: 5px;
    padding: 10px;
    background-color: white;

}
.popup-overlay .popup-box img{
    width: 100%;
    height: 80vh;
}
.popup-overlay .popup-box h3{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
    color: var(--mainColor);
}
.popup-overlay .popup-box .close-button{
    position: absolute;
    top: -2%;
    right: -5%;
    background-color: var(--mainColor);
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

}
/* Gallery style */
/* timeline style */
.time-line{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
}
.time-line::before{
    content: " ";
    width: 2px;
    height: 100%;
    background-color: var(--mainColor);
    position: absolute;
    left: 50%;
    margin: 0px 1px;
}
.time-line .year{
    background-color: var(--mainColor);
    color: white;
    padding: 2px 5px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    left: calc(50%);
    z-index: 3;
    width: 50px;
    margin: 10px -25px 50px;
    text-align: center;
}
.time-line .left , .time-line .right{
    background-color: white;
    margin-bottom: 40px;
    color: #676767;
    width:calc(50% - 40px);
    position: relative;
    
}
.time-line .left {
    float: left;
}
 .time-line .right{
    float: right;
}
.time-line .right::before,
.time-line .left::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid var(--mainColor);
    background-color: #FFF;
    position: absolute;
    top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 3;
}
.time-line .right::before{
    left:-48px ;
}
.time-line .left::before{
    right: -52px;
}
.time-line .content{
    padding: 30px;
}
.time-line .content h3{
    color: var(--mainColor);
    font-weight: bold;
}
.time-line .content p{
    line-height: 1.6;
}
.clearFloat{
    clear: both;
}
.time-line .content::before{
    content:" ";
    width: 0px;
    height: 0px;
    border-width: 10px ;
    border-style: solid;
    position: absolute;
}
.time-line .right .content::before{
    border-color: transparent #FFF transparent transparent ;
    left: -20px;
}
.time-line .left .content::before{
    border-color: transparent transparent transparent #FFF;
    
    right: -20px;
}
@media (max-width:1199px){
    .time-line .left , .time-line .right{
        width: 100%;
    }  
    .time-line .content::before{
        display: none;
    }
    .time-line .right::before,
    .time-line .left::before{
        top:0;
        left:50%;
        transform: translate(-46% , -143%);
        -webkit-transform: translate(-46% , -143%);
        -moz-transform: translate(-46% , -143%);
        -ms-transform: translate(-46% , -143%);
        -o-transform: translate(-46% , -143%);
}
.time-line .content h3{
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    }
}
/* timeline style */

/* features section style */
.feature-section{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}
.feature-section h1{
    color: var(--mainColor);
    text-align: center;
}
.feature-section .feat-box{
    width: calc(100% / 3 );
    float: left;
    margin-bottom: 10px ;
    text-align: center;

}
.feature-section .feat-box img{
    width:150px;
    height:150px;
}
.feature-section .feat-box h3{
    position: relative;
}
.feature-section .feat-box h3::after{
    content: "";
    width: 50px;
    background-color: var(--mainColor);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 -25px;
    height: 3px;
}
.feature-section .feat-box p{
    padding: 10px;
    color: #676767;
    line-height: 1.6;
}
@media (max-width:991px) {
    .feature-section .feat-box{
        width:calc(100% / 2)
    }
    
}
@media (max-width:566px){
    .feature-section .feat-box{
        width:100%;
    }
}
/* features section style */
/* testimonials style */
.testimonials{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
}
.testimonials::after ,.testimonials::before{
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;

}
.testimonials::before{
    background-color: var(--mainColor);
    left: 0;
}
.testimonials::after{
    background-color: black;
    right: 0;
}
.testimonials h1{
    font-weight: bold;
    color: white;
    z-index: 3;
    position: relative;
}
.testimonials .test-box{
    width: calc((100% / 3) - 30px);
    background-color: white;
    padding: 0 10px 10px ;
    z-index: 3;
    margin: 0 10px 0 0;
    position: relative;
    float: left;
    padding: 10px;
}
.testimonials .test-box > p{
    color: #676767;
    font-style: italic;
    padding: 10px 0;
}
.testimonials .test-box .person-info img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
    padding: 0 10px;
}
.testimonials .test-box .person-info h4{
padding: 14px 0 10px;
margin: 0;
font-weight: bold;
}
.testimonials .test-box .person-info p{
    margin: 0;
    padding: 0;
    color: #676767;
}
@media (max-width:991px){
    .testimonials .test-box .person-info{
        text-align: center;
    }
    .testimonials .test-box .person-info img{
        float: none;
        margin:10px 0px;

    }
}
@media (max-width:767px){
    .testimonials h1 {
        text-align: center;
    }
    .testimonials .test-box {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    
}
/* testimonials style */
/* contact Us style  */
.contact{
    position: relative;
    background-image: url("../img/contactBackground.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
    width: 100%;
}
.contact h1{
    position: relative;
    color: var(--mainColor);
    z-index: 2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
}
.contact form div{
    width: 49%;
    padding: 5px;
}
.contact form .left{
    float: left;
}
.contact form .right{
    float: right;
}
.contact form input:not([type="submit"]),
.contact form textarea{
    padding: 10px;
    margin: 15px 0;
    display: block;
    border: none;
    outline: 3px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: rgb(218, 218, 218 , 0.19);
    width: 100%;
    
    
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 3px solid var(--mainColor);
    border: none;
    
}
.contact form input:not([type="submit"]):focus::placeholder,
.contact form textarea:focus::placeholder{
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--mainColor);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
@media(max-width:767px){
    .contact form .left , .contact form .right{
        float: none;
        margin:0 auto;
        width: 100%;
        padding-top:0 ;
        padding-bottom:0 ;
    }

}
/* contact Us style  */
footer{
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: #FFF;
}
/* Grid system */
@media (max-width:566px){
    .container{
        max-width : 100%;
        }
}
@media (min-width :567px){
    .container{
        max-width : 540px;
        
    }
}
@media (min-width : 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width : 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width : 1200px) {
    .container{
        max-width: 1040px;
    }
}
@media (min-width : 1400px) {
    .container{
        max-width: 1320px;
    }
}
/* Grid system */